/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* ---- Colors ---- */

body {
  background: #FAFAFA;
}

a {
  color: #4A4A4A;
}

h1, {
  color: #4A4A4A;
}

.portfolio {
  background: white;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
  padding-left: 0;
}

.main-nav li a {
  list-style: none;
  background-color: white;
  margin-top: 5px;
}

.main-nav a {
  text-transform: uppercase;
}

.name,
.main-nav a {
  font-weight: bold;
  display: block;
  padding: 10px 15px;
}

.profile-picture {
  width: 75%;
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

/* ---- Layout Containers ---- */

.main-header {
  padding: 15px;
}

.main-header,
.portfolio,
.main-footer {
  text-align: center;
}

.wrapper {
  max-width: 940px;
  margin: 0 5%;
}

.portfolio {
  padding: 30px 0;
}

.portfolio img {
  width: 100%;
}

.portfolio h3 {
  padding: 20px 0;
  text-transform: uppercase;
}

.portfolio img,
.gallery {
  margin: 0 auto;
}

.gallery h3 {
  font-weight: lighter;
  padding-top: 10px;
  text-transform: capitalize;
}

.gallery p {
  padding: 10px 18px;
  line-height: 1.5;
}

.main-footer {
  padding: 30px;
}

.contact h3 {
  text-transform: uppercase;
}

.contact-info {
  list-style: none;
  line-height: 2;
  word-spacing: 30px;
  padding-bottom: 30px;
}

.footer-nav {
  border-top: 1px solid lightgrey;
  padding: 30px 0;
}

.footer-name {
  float: left;
}

.footer-name li,
.mobile-nav li {
  display: inline-block;
}

.mobile-nav {
  float: right;
}

.large-nav {
  display: none;
}
