/* =================================
  Base Element Styles
==================================== */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #ffebcd;
  color: #4A4A4A;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #4A4A4A;
}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.main-nav {
  padding: 10px;
  background: rgba(0, 128, 128, .5);
}

.main-nav li a {
  list-style: none;
  background-color: white;
  margin-top: 5px;
}

.main-nav a {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  padding: 10px 15px;
}

.name {
  font-weight: bold;
  display: block;
  padding: 10px 15px;
}

.profile-picture {
  width: 75%;
  display: block;
  margin: 0 auto;
  padding: 30px 0;
}

/* ---- Layout Containers ---- */

.main-header {
  text-align: center;
  padding: 15px;
}

.intro {
  color: teal;
  font-size: 1.25em;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 0 5%;
  background: #fff;
}

.portfolio {
  text-align: center;
  padding: 30px 0;
}

.portfolio h3 {
  padding: 20px 0;
  text-transform: uppercase;
}

.gallery {
  margin: 0 auto;
  padding: 0 30px;
}

.gallery img {
  width: 100%;
  margin: 0 auto;
}

.gallery h3 {
  font-weight: lighter;
  padding-top: 10px;
  text-transform: capitalize;
}

.gallery p {
  padding: 0 18px;
  line-height: 1.5;
}

.skills {
  text-align: center;
}

.skills ul li {
  display: inline-block;
  border: 2px solid teal;
  border-radius: 5px;
  background: teal;
  color: #fff;
  width: 90px;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 2px;
}

.contact {
  text-align: center;
  padding: 30px;
}

.contact h3 {
  text-transform: uppercase;
}

.contact ul {
  text-align: center;
  line-height: 2;
  word-spacing: 25px;
  padding-bottom: 30px;
}

.contact li {
  color: darkgrey;
}

.contact a {
  color: darkslategrey;
}

.main-footer {
  border-top: 1px solid lightgrey;
  padding: 30px;
  font-weight: bold;
  background: rgba(0, 128, 128, .5);
}

.footer-name {
  float: left;
  display: block;
}

.back-nav {
  float: right;
  display: block;
}

.large-nav {
  display: none;
}
/* =================================
  Media Queries
==================================== */

@media (min-width: 768px) {

  a:hover {
    color: tomato;
  }

  .main-header {
    margin: 0 auto;
    max-width: 90%;
  }

  .main-header ul li {
    display: inline-block;
  }

  .main-nav {
    padding: 10px;
  }

  .main-nav li a {
    background: transparent;
    margin: 0;
  }

  .profile {
    margin: 30px auto 0;
    text-align: left;
    padding: 30px 0;
  }

  .profile-picture {
    float: right;
    max-width: 38%;
    padding: 0;
  }

  .intro {
    float: left;
    max-width: 56%;
    font-size: 1.1em;
    margin: 0;
  }

  .gallery li {
    float: left;
    width: 50%;
    padding: 1.25%;
  }

  .main-footer {
    max-width: 90%;
    margin: 0 auto;
  }

  .back-nav {
    display: none;
  }

  .large-nav {
    display: block;
  }

  .large-nav ul {
    float: right;
  }

  .large-nav ul li {
    display: inline-block;
    padding: 0 10px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
}

@media (min-width: 1024px) {

  .name {
    float: left;
    margin: 0;
    padding: 0;
  }

  .main-header ul {
    float: right;
  }

  .main-nav {
    padding: 20px;
    margin-top: 10px;
  }

  .profile {
    margin: 0;
    padding: 30px 0;
  }

  .gallery li {
    width: 33.333%;
  }

  .gallery li:nth-child(3n+1) {
    clear: left;
  }
}
